@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import "../bootstrap-icons/font/bootstrap-icons.css";
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.ttf);
}
* {
  font-family: Montserrat, sans-serif;
}

body {
  background-color: #131111;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.9);
}

.userImage {
  width: 40px;
  height: 40px;
  cursor: pointer;
  object-fit: cover;
}

.userImageOffCanvas {
  width: 125px;
  height: 125px;
  cursor: revert;
  object-fit: cover;
}

#reservarNav {
  background-color: #cc741f;
  color: black;
}

.nav-link {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.nav-link:hover {
  background-color: white !important;
  color: black !important;
}
.nav-link.active {
  border: 2px rgba(255, 255, 255, 0.45) solid;
}

.offcanvas {
  background-color: #131111;
}

#section1 {
  background-image: url(../images/restaurante.png);
  background-size: cover;
}
#section1 h1 {
  font-size: 4rem;
}
#section1 h2 {
  font-size: 2rem;
}

.darkenMask {
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 90vh;
}
.darkenMask .row {
  min-height: inherit;
}

#section2 {
  min-height: 90vh;
}
#section2 .col-md-4 {
  min-height: 25vh;
}
#section2 .col-md-4 .card {
  height: 60vh;
  border-radius: 10px;
}
#section2 .col-md-4 .card .card-img-overlay {
  padding: 20%;
  text-align: center;
}
#section2 .col-md-4 .card video {
  border-radius: 10px;
  height: inherit;
  object-fit: cover;
  filter: brightness(40%);
}
#section2 .btn {
  border: 3px solid #cc741f;
  background-color: transparent;
  color: white;
}
#section2 .btn:hover {
  border: 3px solid white;
  background-color: white;
  color: black;
}

#section3 {
  min-height: 100vh;
  background-color: black;
}
#section3 .list-group-item {
  padding: 0;
  margin: 0;
}
#section3 .badge {
  font-size: 0.8rem;
  background-color: #ED1C24;
}
#section3 .carousel img {
  border-radius: 15px;
  object-fit: cover;
  width: 75vw;
  height: 50vh;
}

#userInfoOffCanvas, #logedInOffCanvas {
  box-sizing: border-box;
}
#userInfoOffCanvas p, #logedInOffCanvas p {
  font-family: "Lato", sans-serif;
}
#userInfoOffCanvas a, #logedInOffCanvas a {
  font-family: "Lato", sans-serif;
  background-color: transparent;
  border: none;
  color: #cc741f;
}
#userInfoOffCanvas a:hover, #logedInOffCanvas a:hover {
  cursor: pointer;
  color: #0a53be;
}
#userInfoOffCanvas button:not(.btn-close), #logedInOffCanvas button:not(.btn-close) {
  background: #cc741f;
  border: 3px solid #cc741f;
}
#userInfoOffCanvas button:not(.btn-close):hover, #logedInOffCanvas button:not(.btn-close):hover {
  border: 3px solid white;
  background-color: white;
  color: black;
}

#registerModal .modal-header {
  background: linear-gradient(90deg, #fd451d 0%, #fcb045 100%);
  border: none;
}
#registerModal .modal-content {
  background-color: #131111;
}
#registerModal .modal-content button[type=submit] {
  background: #cc741f;
  border: 3px solid #cc741f;
}
#registerModal .modal-content button[type=submit]:hover {
  border: 3px solid white;
  background-color: white;
  color: black;
}
#registerModal .btn {
  background-color: transparent;
}

#cambiarFotoModal .modal-header {
  background: linear-gradient(90deg, #fd451d 0%, #fcb045 100%);
  border: none;
  color: white;
}
#cambiarFotoModal .modal-content {
  background-color: #131111;
  color: white;
}

#historiaModal {
  background-color: rgba(0, 0, 0, 0.9);
}
#historiaModal .modal-header {
  background: linear-gradient(90deg, #e21a00 0%, black 85%, black 100%);
  border: none;
}
#historiaModal .modal-content {
  background-color: #131111;
}
#historiaModal .modal-content p {
  font-family: "Lato", sans-serif;
  font-size: 1.05rem;
}

footer i {
  font-size: 1.5em;
}
footer p {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
}

.invalid-feedback, .valid-feedback {
  font-family: "Lato", sans-serif;
}

#cerrarSesion {
  background-color: #ED1C24 !important;
  border-color: #ED1C24 !important;
}

#borrarCuenta:hover {
  cursor: pointer !important;
}

form input:not([type=button]), form input:not([type=submit]), form select, form select option {
  font-family: "Lato", sans-serif;
}

.nice-button {
  cursor: pointer;
  border: none;
  color: white;
  background-color: #cc741f;
}
.nice-button:hover {
  background-color: white;
  color: black;
}

#fotoSubida {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#drop_zone {
  border: dashed 2px #cc741f;
}

.divVerPassword {
  border-radius: 0 5px 5px 0 !important;
  cursor: pointer;
  background-color: ghostwhite;
}

.secondaryFont {
  font-family: "Lato", sans-serif;
}

.buttonColor {
  font-family: Montserrat, sans-serif;
  border: none;
  background-color: #cc741f;
  color: white;
}
.buttonColor:hover {
  background-color: white;
  color: black;
}

@media only screen and (max-width: 768px) {
  #section1 .darkenMask {
    min-height: 50vh;
  }

  .carousel .col-md-4 {
    max-height: 30vh;
    overflow: auto;
  }
}
@media only screen and (max-height: 500px) {
  .offcanvas-header p {
    display: none;
  }
  .offcanvas-header div {
    padding: 0;
  }

  .offcanvas-title {
    display: none;
  }

  .userImageOffCanvas {
    display: none;
  }
}
body {
  height: 100vh;
}

#cuerpo {
  height: 100%;
}

#barraSucursales {
  overflow: hidden;
}
#barraSucursales .bi-bookmark-star-fill {
  font-size: 1.5rem;
  color: #fdc007 !important;
}
#barraSucursales .list-group-item {
  cursor: pointer;
  border: #131111 1px solid;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #263238;
  color: white;
  border-radius: 0;
}
#barraSucursales .list-group-item:hover {
  background-color: #cc741f;
  color: black;
}

#mapaSucursal iframe {
  border-radius: 15px;
}

#sucursalImg {
  background-size: cover;
  background-position: center;
}

@media only screen and (max-width: 768px) {
  #barraSucursales .list-group-item {
    flex-direction: column;
  }
}

/*# sourceMappingURL=sucursalesStyles.css.map */
